<section class="section--blog-body">
  <h4 class="title--large"> {{title}}</h4>
  <div class="div--horizontal">
    <div>{{post_month}} {{post_day}}</div>
    <div><img height="10" src="/images/heart.png"> {{heart_count}}</div>
    <div><img height="10" src="/images/comment.png"> {{comment_count}}</div>
  </div>

  <img class="thumbnail--center" src={{thumbnail_path}}>

  <div class="div--blog-text">{{blog_body}}</div>

  <div>Share your love and your thoughts, if you feel like it.</div>

  <div class="div--blog-buttons">
    <form method="post" action="/blogpost/{{id}}/hearted">
      <button type="submit">
        <img height="20" src="/images/heart.png">
      </button>
    </form>
    <div>
      <button onclick="toggleForm()">
        <img height="20" src="/images/comment.png">
      </button>
    </div>
  </div>

  <div class="form-popup" id="myForm">
    <form method="post" action="/blogpost/{{id}}/commentted">
      <input class="text-input-small" type="text" id="comment_user" name="comment_user" placeholder="Your name" required><br>
      <textarea class="text-input-large" type="text" id="comment_body" name="comment_body" placeholder="Your comment" required></textarea><br>
      <button type="submit">Submit</button>
    </form>
  </div>

  {{#each comments}}
  <div class="div--comment-block">
    <h4>{{comment_user}}</h4>
    <p>{{comment_body}}</p>
  </div>
  {{/each}}
</section>

<script>
  function toggleForm() {
    if (document.getElementById("myForm").style.display == "block"){
      document.getElementById("myForm").style.display = "none"
    } else{
      document.getElementById("myForm").style.display = "block"
    }
  }
</script>